body {
  font-size: 12px;
}

.Noted {
  font-size: 8px;
}

.LargerNoted {
  font-size: 8px;
}

#ProjectTable {
  width: 100%;
}

#CalendarTable {
  width: 100%;
}

h1 {
  color: #0000ff;
}

table {
  border: 1px solid #ccc;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
}

table tr {
  border: 1px solid #ddd;
  padding: 5px;
}

table th, table td {
  padding: 10px;
  vertical-align: top;
  text-align: left;
}

table th {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}

table td {
  font-size: 12px;
}

.Projects {
  font-weight: bold;
  font-size: 14px;
}

.CalendarPeople {
  color: #0000ff;
  font-size: 10px;
}

.CalendarQ {
  font-weight: bold;
}

.CalendarItems {
  font-size: 10px;
}
